<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">

    <!-- Servlet Call -->
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>services.Test</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CreateUser</servlet-name>
        <servlet-class>services.CreateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>services.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Event</servlet-name>
        <servlet-class>services.Event</servlet-class>
    </servlet>

    <!-- Servlet Map -->
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/service/test</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CreateUser</servlet-name>
        <url-pattern>/service/createUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/service/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Event</servlet-name>
        <url-pattern>/service/event/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>